
@{
    ViewData["Title"] = "Welcome to";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido</h1>

<ul>
    @for(int i = 1; i <= (int)ViewData["id"]; i++)
    {
        <li>@ViewData["mensaje"] - veces mostrado @i</li>
    }
</ul>

